

<h1>@ViewData["Title"]</h1>
<p></p>


<form asp-action="Departamento" method="get" class="form-inline my-2 my-lg-0">
    <div class="form-group">
        <input class="form-control" name="endereco" type="text" placeholder="Endereço do Arquivo" />
    </div>
    <button type="submit" class="btn btn-secondary">Processar Arquivo</button>
</form>



