
<h1>@ViewData["Title"]</h1>
<hr />

<p>Tive vários desafios na área de tecnologia, 
    e gostaria de listar dois deles:</p>

<p>O primeiro desafio ocorreu no início da minha carreira 
    de desenvolvimento. Comecei em uma empresa realizando 
    suporte em máquinas, mas ao longo do processo me 
    interessei pela área de desenvolvimento. Passei a 
    trabalhar com Delphi 7 e SQL Server, desenvolvendo 
    nessa linguagem durante um ano. Porém, a empresa 
    decidiu me realocar para a equipe de desenvolvimento web, 
    utilizando C# e SQL Server. A empresa me concedeu um mês 
    para estudar C#, enquanto continuava a desenvolver em 
    Delphi durante a manhã. No período da tarde, dedicava-me ao estudo
    de C#. Além disso, eu estava cursando a faculdade, o que 
    tornava o desafio ainda maior, já que estava aprendendo um 
    novo paradigma. Para conciliar tudo, acabava estudando nos 
    finais de semana. No final, consegui ingressar na equipe 
    de desenvolvimento web, o que foi uma grande conquista.</p>

<p>Outro desafio que enfrentei foi ao trabalhar em uma fábrica 
    de software. Nessa fábrica, a empresa desenvolvia e 
    fornecia manutenção para diversos softwares. Fui 
    designado para dar manutenção em um software 
    utilizado em um hospital. O hospital exigia o 
    cumprimento de vários modelos e padrões para 
    garantir a qualidade do sistema, como testes 
    unitários, criação de UML e adoção de métodos 
    ágeis. Foi necessário aprender todas essas 
    técnicas para entregar o melhor serviço 
    possível ao cliente. Foi um desafio significativo, 
    mas também uma oportunidade de crescimento e 
    aprimoramento profissional.</p>

